<header class="navbar navbar-fixed-top navbar-default">
{% raw %}
<div class="container" data-ng-controller="MainController as mainCtrl">
  <div class="navbar-header">
    <button class="navbar-toggle" data-ng-click="toggleCollapsibleMenu()" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/"><img alt="logo" src="images/logos/logo.png"/>Platfone</a>
  </div>
  <div class="collapse navbar-collapse" role="navigation">
    <form class="nav navbar-form navbar-right">
      <div ng-show="{{!myUser.isAuthenticated}}">
        <button class="btn btn-info" ng-click="login('twitter')">Login with Twitter</button>
        <button class="btn btn-info" ng-click="login('facebook')">Login with Facebook</button>
      </div>
      <div ng-show="{{myUser.isAuthenticated}}">
          <strong>hey</strong>{{oAuthDataType.displayName}}!&nbsp;
         <button class="btn btn-info" ng-click="logout()">Logout</button>
      </div>
    </form>
  </div>

</div>
{% endraw %}
</header>
