<div class="container" data-ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" data-ng-click="toggleCollapsibleMenu()" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img alt="logo" src="images/logos/logo.png"/>Platfone</a>
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
      <li ng-class="{active: $uiRoute}" ui-route="/signup">
        <a href="/#!/signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ng-class="{active: $uiRoute}" ui-route="/signin">
        <a href="/#!/signin">Sign In</a>
      </li>
    </ul>
  </nav>
</div>
