<div>
<form class="post post-form">

  <div class="form-group">
      <label class="control-label" for="focusedInput">Post Author</label>
      <input type="text" ng-model="post.author" class="form-control">
  </div>

  <div class="form-group">
      <label class="control-label" for="focusedInput">Tags</label>
      <tag-manager tags="tags"></tag-manager>
  </div>

  <div class="form-group">
      <label class="control-label" for="focusedInput">Post Title</label>
      <input type="text" ng-model="post.title" class="form-control">
  </div>

  <div class="form-group">
      <label class="control-label" for="focusedInput">Post Description</label>
      <input type="text" ng-model="post.description" class="form-control">
  </div>

  <div class="form-group">
  <button class="btn btn-primary btn-block" ng-click="savePost(post)" type="button">POST</button>
</div>
</div>
