<div class="side-menu-toggle">
  <i class="icn icn-menu"></i>
</div>
<div class="row">
  <div class="col-md-2 side-menu side-menu__left">
    <div class="side-menu--wrapper">
      profile avatar
      <div class="menu-avatar">
        <img ng-src="{{imageUrl}}">
        <a href="">
          <i class="icn icn-camera text-muted"></i>
        </a>
      </div>
      <h3 class="menu-title">{{pageTopic}}</h3>
      <button class="btn btn-primary text-center center-block outline-style btn-follow">
        <i class="icn icn-ribbon"></i>&nbsp;Follow</button>
      <button class="btn btn-primary text-center center-block btn-follow-ing">
        <i class="icn icn-ribbon"></i>&nbsp;Following</button>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <div class="menu-tags">
        <a class="label label-default ng-binding" href="#!/postings/topics/wanted" ng-href="#!/postings/topics/wanted">wanted</a>
        <a class="label label-default ng-binding" href="#!/postings/topics/offer" ng-href="#!/postings/topics/offer">offer</a>
        <a class="label label-default ng-binding" href="#!/postings/topics/ask" ng-href="#!/postings/topics/ask">ask</a>
      </div>
    </div>
  </div>
</div>