{% raw %}
<section data-ng-controller="MainController as mainCtrlz">
    <div class="navbar navbar-fixed-top navbar-default">
        <div class="container" >
            <div class="navbar-header">
                <button class="navbar-toggle" data-ng-click="toggleCollapsibleMenu()" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><img alt="logo" src="images/logos/logo.png"/>Platfone</a>
            </div>
            <div class="collapse navbar-collapse" role="navigation">
                <form class="nav navbar-form navbar-right">
                <div ng-show="!myUser.isAuthenticated">
                    <button class="btn btn-info" ng-click="login('twitter')">Login with Twitter</button>
                    <button class="btn btn-info" ng-click="login('facebook')">Login with Facebook</button>
                </div>
                <div ng-show="myUser.isAuthenticated">
                    Hi {{myUser.displayName}}!
                    <button class="btn btn-info" ng-click="logout()">Logout</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <post-form user-info="myUser"></post-form>
    </div>
    <div ng-repeat="post in posts | reverse">
        <div class="post post-item">
          <div class="media">
            <div class="media-left">
              <img class="post-avatar" ng-src="{{post.profileImageUrl}}" alt="avatar">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{post.author}}</h4>
            </div>
          </div>
          <div class="tags-action">
            <div class="tags">
                <a ng-repeat="tag in post.tags" class="tag">{{tag.value}}</a>
            </div>
          </div>
          <div class="media-heading ext-muted post-item__titile">{{post.title}}</div>
          <p>
            {{post.description}}
          </p>
        </div>
    </div>
</section>
{% endraw %}
