{% raw %}
<section data-ng-controller="MainController as mainCtrlz">
    <div class="navbar navbar-fixed-top navbar-default">
        <div class="container" >
            <div class="navbar-header">
                <button class="navbar-toggle" data-ng-click="toggleCollapsibleMenu()" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><img alt="logo" src="images/logos/logo.png"/>Platfone</a>
            </div>
            <div class="collapse navbar-collapse" role="navigation">
                <form class="nav navbar-form navbar-right">
                <div ng-show="!myUser.isAuthenticated">
                    <button class="btn btn-info" ng-click="login('twitter')">Login with Twitter</button>
                    <button class="btn btn-info" ng-click="login('facebook')">Login with Facebook</button>
                </div>
                <div ng-show="myUser.isAuthenticated">
                    Hi {{displayName}}!
                    <button class="btn btn-info" ng-click="logout()">Logout</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <post-form oauth-type="oAuthDataType"></post-form>
    </div>
    <div ng-repeat="post in posts | reverse">
        <div class="post post-form">
            <div class="media">
                <img class="post-avatar" ng-src="{{post.profileImageUrl}}" >&nbsp;{{post.author}}<br/>
                {{post.description}}<br/>
            </div>
        </div>
    </div>
</section>
{% endraw %}
