%link-no-line{
  &:hover{
    text-decoration: none;
  }
}

%clearfix{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%block_center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%transistion_default{
  transition: .6s ease-in-out;
}
