.row-top{
  margin: 10px auto;
}
.single-col{
  padding: 5px 2em;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.after-header{
  margin-top: $navbar-height + 10px;
}

.center-center{
  @include centerer;
}

.center-warp{
  position: relative;
}

.media-left, .media-right, .media-body {
  vertical-align: middle;
}


.inline-list{
  list-style: none;
  padding: 0;
  li{
    display: inline-block;
    margin-right: 1em;
  }
}
