
<section data-ng-controller="MainController as mainCtrlz">
    <div class="navbar navbar-fixed-top navbar-default">
        <div class="container" >
            <div class="navbar-header">
                <button class="navbar-toggle" data-ng-click="toggleCollapsibleMenu()" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><img alt="logo" src="images/logos/logo.png"/>Platfone</a>
            </div>
            <div class="collapse navbar-collapse" role="navigation">
              <ul class="nav navbar-nav">
                 <li><a href="#">Topic</a></li>
               </ul>
              <form class="nav navbar-form navbar-right">
                <div ng-show="!myUser.isAuthenticated">
                    <button class="btn btn-info" ng-click="login('twitter')">Login with Twitter</button>
                    <button class="btn btn-info" ng-click="login('facebook')">Login with Facebook</button>
                </div>
                <div ng-show="myUser.isAuthenticated">
                    Hi {{myUser.displayName}}!
                    <button class="btn btn-info" ng-click="logout()">Logout</button>
                </div>
              </form>
            </div>
        </div>
    </div>
    <div>
        <post-form user-info="myUser"></post-form>
    </div>
    <div>
        <post-listing posts="posts"></post-listing>
    </div>
</section>
