<section data-ng-controller="MainController">
  <top-header my-user="myUser" auth="auth"></top-header>

  <div class="profile">
    <div class="media media-inline">
      <div class="pull-left">
        <img src="http://fakeimg.pl/120/">
      </div>
      <div class="media-body">
        <ul class="inline-list title">
          <li>Job Title</li>
          <li>
            <span><img src="http://fakeimg.pl/30/"></span>
            <span>Business title</span>
          </li>
        </ul>
        <h2>Name LastName</h2>
        <ul class="inline-list">
          <li>skills: </li>
          <li class="tags-action tags">
            <a class="tag">Programing</a>
            <a class="tag">Research</a>
            <a class="tag">Photography</a>
          </li>
        </ul>
      </div>
      <div class="media-right profile-action">
        <a href="#" class="action"><i class="icn icn-chat icn-lg"></i></a>
        <button class="btn outline-style btn-primary">Follow</button>
      </div>
    </div>
  </div>
  <div class="tabs">
    <ul class="tabs-menu">
      <li class="active">
        <h4>113</h4>
        <p>Post</p>
      </li>
      <li>
        <h4>113</h4>
      </li>
      <li>
        <h4>113</h4>
      </li>
    </ul>
    <ul class="tabs-content">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
