<section data-ng-controller="MainController">
  <top-header my-user="myUser" auth="auth"></top-header>
  <h1 class="text-center">Topics at PLATFONE</h1>
  <div class='divider'>
    <h2 class="name">HOT TOPIC</h2>
  </div>

  <div class="tags-action">
    <div class="tags">
      <a class="tag">Most</a>
      <a class="tag">Popular</a>
      <a class="tag">Tags</a>
    </div>
  </div>

  <div class='divider'>
    <h2 class="name">ALL TOPIC</h2>
  </div>

  <h3>A</h3>
  <div class="tags-action">
    <div class="tags">
      <a class="tag">Apple</a>
      <a class="tag">Airplane</a>
      <a class="tag">Alpha</a>
    </div>
  </div>

  <h3>B</h3>
  <div class="tags-action">
    <div class="tags">
      <a class="tag">BA BA BA</a>
      <a class="tag">Banana</a>
      <a class="tag">Bench</a>
      <a class="tag">Being</a>
    </div>
  </div>
</section>
