.action{
  // for single action element
  @extend %transistion_default;
  margin-right: 1em;
}

.action-love{
  &:hover{
    color: $brand-danger;
    .icn-heart:before{
      content: '\e90e';
    }
  }
}

.action-default{
  &:hover{
    color: $brand-info;
  }
}

// for action modules

.tags-action{
  word-wrap: break-word;
  .tags{
    // for the tags list
    padding: .5em 0;
    margin-bottom: .5em;
    a{
      margin: 5px .5em;
      padding: 5px 15px;
      border-radius: 3px;
      color: $white;
      background-color: $brand-info;
      display: inline-block;
      cursor: pointer;

      &:hover{
        text-decoration: none;
      }

      @for $i from 1 through length($ram-colors) {
        &:nth-child(#{length($ram-colors)}n+#{$i}){
          background-color: nth($ram-colors, $i);

          &:hover{
            background-color: saturate(nth($ram-colors, $i), 20%);
          }
        }
      }

    }
  }
  .input-group-addon{
    background-color: $brand-success;
  }
}

.post-form .tags-action .tag{
  padding-right: 2em;
  &:after{
    @extend %pseudos;
    content: '\e902';
    font-family: platfoneicon;
    display: inline-block;
    margin-left: .3em;
    font-size: .8em;
    padding-top: .2em;
    vertical-align: middle;
  }

}
