.navbar-brand{
  padding: 12px 15px;
  img{
    display: inline-block;
    height: 30px;
    width: auto;
    margin-right: 5px;
  }
}

.navbar-default{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
}

.navbar-form{
  div{
    display: inline-block;
  }
}
