.post-avatar{
  width: $img-sm;
  height: $img-sm;
}

.post-item__actions{
  @extend %clearfix;
  margin-top: 2em;
  a{
    @extend %link-no-line;
    cursor: pointer;
  }
}

.post-item__comment{
  margin-top: 1em;
}
.post-item{
  padding: 1em 1.5em 2em;
  border-bottom: 1px solid $gray-lighter;

  .media-left a{
    display: block;
  }

  .post-item__conditions{
    font-size: .9em;
    font-weight: $font-weight--bold;
    padding: .2em;
    margin-top: .5em;
    .icn{
      font-size: 1.1em;
      margin-left: 10px;
    }
  }



  .post-item__titile{
    font-size: $font-large;
    font-weight: $font-weight--medium;
    margin: 3px auto .2em;
    padding: 0;
  }

  .post-item__tags{
    span{
      display: inline-block;
      box-sizing: border-box;
      margin-top: .1em;
      margin-left: 0;
      margin-right: .5em;
    }
  }

  .post-item-author{
    width: 25%;
    &__text{
      text-align: center;
      margin-top: .2em ;
      color: $gray;
    }
    a{
      @extend %link-no-line;
      margin-right: 3em;
    }
  }
}

.post-time{
  text-align: right;
  span{
    margin-left: .5em;
  }
}

.post-list{
  padding-left: 0;
}

.post-view{
  .bottom-line{
    padding-left: 6em;
    padding-right: 5em;
    padding-bottom: 2em;
  }

  .post-list{
    .post-item{
      background-color: $white;
    }
  }

  p{
    text-align: justify;
    font-size: 1.1em;
  }

  .post-item__img{
    width: 100%;
    max-height: 240px;
    overflow: hidden;
  }

  img{
    width: 100%;
  }

  .media{
    margin-top: .5em;
    &:first-of-type{
      margin-top: 0;
    }
  }
}
.post-comments{
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  @extend %clearfix;

  p{
    margin-bottom: 1px;
  }
  small{
    font-size: .5em;
    color: $gray-light;
  }

  .row{
    margin-bottom: 10px;
  }
}

.post-comments__form{
  margin-top: 10px;

  .btn-col{
    padding-right: 5px;
    padding-left: 5px;
  }
}
