.cards-block-inline{
  text-align: center;
}

.user-card{
  @extend %clearfix;
  box-shadow: $card-shadow;
  box-sizing: border-box;
  width: 400px;
  padding: 15px 7px;
  display: inline-block;
  padding-bottom: 0;
  margin: 10px 4px;
  background-color:#fff;
  border-radius: $border-radius-base;
  border: 3px solid #fff;
  overflow: hidden;
  transition: all ease-in-out .3s;

  &:hover{
    border-bottom-color: lighten($brand-info, 5);
  }
  ul{
    padding-left: 0;
    text-align: center;
    list-style: none;
  }

  h4{
    font-size: 1.1em;
  }

  .flex{
    width: 30%;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 1.5em;

    &:first-of-type{
      width: 40%;
      margin-top: .8em;
    }
  }

  &--wrapper{
    // TODO: flex prefix
    @include flex-block;
    padding: 1px 10px;
    padding-bottom: 11px;
    background-color: #fff;
    margin: auto;
  }
  &--photo{
    @include single-img-block;
    padding: 5px;
  }


  a{
    @extend %link-no-line;
  }

}

.user-card.active{
  border-bottom-color: $brand-primary;
}
