<div ng-show="!userInfo.isAuthenticated">
    <div class="post">
        <div class="lead bg-info">&nbsp;&nbsp;Please sign-in first to enter a new post!
        </div>
    </div>
</div>
<div ng-show="userInfo.isAuthenticated">
    <form class="post post-form">
    <!-- if not login -->
    <div class="media">
        <div class="media-left">
        <a href="#">
            <img class="post-avatar" ng-src="{{userInfo.profileImageURL}}" alt="avatar">
        </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{userInfo.displayName}}</h4>
        </div>
    </div>
    <div class="form-group tags-action">
        <tag-manager my-tags="tags"></tag-manager>
    </div>
    <div class="form-group">
        <input type="text" ng-model="post.title" class="form-control" placeholder="title">
        <textarea type="text" autocomplete="off" ng-model="post.description" class="form-control" placeholder="say something..."></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block" ng-click="savePost(post)" type="button">POST</button>
    </div>
    </form>
</div>
